@model WT1.Models.Person;

<label>Name: </label> @Model.Name <br>
<label>Position: </label> @Model.Position <br>
<label>Sex: </label> @Model.Sex <br>
<label>Department: </label> @Model.Department <br>
<label>PhoneNumber: </label> @Model.Phone <br>
<label>E-mail: </label> @Model.Email <br>
<label>Comments: </label> @Model.Comments <br>