Размер @ViewBag.Length<br/>
Путь @ViewBag.Dir<br />
Имя @ViewBag.Name<br />
Расширение @ViewBag.Ext<br />
Создание @ViewBag.Create<br />
Модификация @ViewBag.Modify<br />

<form method="post" asp-action="Fifth" enctype="multipart/form-data">
    <input type="file" name="File" />
    <input type="submit" />
</form>